*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);

}
#bodyA
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    background: rgb(255, 255, 255);

}
#loader
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
}
#loaderA
{
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
}
@keyframes animate 
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
#loader::before
{
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 1000;
}
#loaderA::before
{
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 1000;
}
#loader::after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg,transparent,transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(40px);

}
#loaderA::after
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg,transparent,transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(40px);

}
#mensaje
{
    position: absolute;
    top: 70%;
}